# zissou - App Cliente
NEXT_PUBLIC_SUPABASE_URL=https://wvrgxhuazhovlucpsadu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2cmd4aHVhemhvdmx1Y3BzYWR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwODY0MTIsImV4cCI6MjA4ODY2MjQxMn0.zGrgqUTYurnETgNmiogeYhGAxpUaClhXQqrIKt72dXM
NEXT_PUBLIC_APP_URL=https://zissou-cliente.vercel.app
NEXT_PUBLIC_APP_NAME=zissou
NEXT_PUBLIC_API_BASE_URL=https://zissou.vercel.app
NEXT_PUBLIC_API_TOKEN=GERE_NO_DASHBOARD_EM_CONFIGURACOES
